<div class="review">
    <h2>{% if link_needed %}<a href="{{ review.get_absolute_url }}">{{ review.title }}</a>{% else %}{{ review.title }}{% endif %}</h2>
    <div class="author"><strong>Author: </strong> <a href="{{ review.author.get_absolute_url }}">{{ review.author.name }}</a></div>
    <div class="url"><strong>URL: </strong> <a href="{{ review.url }}">{{ review.url }}</a></div>
    <div class="date"><strong>Date: </strong> {{ review.formatted_date }}</div>
    {% if review.content %}
        {% if first_sentence_only %}
            <div class="review-content">{{ review.first_sentence }}</div>
        {% else %}
            <div class="review-content">{{ review.content|safe }}</div>
        {% endif %}
    {% endif %}
</div>
