{% extends "reviews/base.html" %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}
    <h1>{{ author.name }} <span class="small">{{ author.reviews.count }}</span></h1>

    {% if user.is_authenticated %}
        {% if author in user.follows.all %}
            <a href="{% url "reviews:author_unfollow" author.slug %}" class="unfollow-button">Unfollow</a>
        {% else %}
            <a href="{% url "reviews:author_follow" author.slug %}" class="follow-button">Follow</a>
        {% endif %}
    {% endif %}

    {% for review in page_obj %}
        {% include "reviews/_review.html" with review=review link_needed=True %}
    {% endfor %}

    {% if page_obj.has_previous or page_obj.has_next %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{{ author.get_absolute_url }}?page={{ page_obj.previous_page_number }}">←</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="{{ author.get_absolute_url }}?page={{ page_obj.next_page_number }}">→</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}
