{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "reviews/css/style.css" %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url "reviews:home_page" %}">Home</a></li>
            <li><a href="{% url "reviews:author_list" %}">Authors</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url "reviews:profile" %}">Profile</a></li>
                <li><strong>{{ user.email }}</strong></li>
                <li>
                    <form method="POST" action="{% url "accounts:logout" %}">
                    {% csrf_token %}
                        <button id="id_logout" class="btn btn-outline-secondary link-button" type="submit">Log Out</button>
                    </form>
                </li>
                {% else %}
                <li>
                    <form method="POST" action="{% url "accounts:send_login_email" %}">
                        {% csrf_token %}
                        <input
                        id="id_email_input"
                        name="email"
                        class="form-control"
                        placeholder="Enter your email to log in"
                        />
                    </form>
                </li>
            {% endif %}
            <li class="search">
                <form type="get" action="{% url 'reviews:search' %}">
                    <input id="search_input" type="text" name="q" placeholder="Search" autocomplete="off"{% if q %} value="{{ q }}"{% endif %}>
                </form>
            </li>
        </ul>
    </nav>

    {% if messages %}
        {% for message in messages %}
            {% if message.level_tag == 'success' %}
            <div class="alert alert-success">{{ message }}</div>
            {% else %}
            <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
        {% endfor %}
      {% endif %}

    {% block content %}{% endblock %}
</body>
</html>
