{% extends "reviews/base.html" %}

{% block title %}Movie Reviews{% endblock %}

{% block content %}
    <h1>Movie Reviews</h1>

    {% if user.is_authenticated and user.follows.count > 0 %}
        <p>{% if all_reviews %}<a href="{% url "reviews:home_page" %}">Your feed</a>{% else %}<strong>Your feed</strong>{% endif %}</p>
        <p>{% if not all_reviews %}<a href="{% url "reviews:full_feed" %}">All reviews</a>{% else %}<strong>All reviews</strong>{% endif %}</p>
    {% endif %}

    {% for review in page_obj %}
        {% include "reviews/_review.html" with review=review link_needed=True %}
    {% endfor %}

    {% if page_obj.has_previous or page_obj.has_next %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{% url "reviews:home_page" %}?page={{ page_obj.previous_page_number }}">←</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="{% url "reviews:home_page" %}?page={{ page_obj.next_page_number }}">→</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}
