{% extends "reviews/base.html" %}

{% block title %}Letterboxd{% endblock %}

{% block content %}
    <h1>Letterboxd</h1>

    {% if user.is_authenticated %}
        <p><a href="{% url "reviews:home_page" %}">Your feed</a></p>
        <p><a href="{% url "reviews:full_feed" %}">All reviews</a></p>
        <p><strong>Letterboxd</strong></p>
    {% endif %}

    {% for batch_of_reviews in page_obj %}
        {% for review in batch_of_reviews %}
            {% include "reviews/_review.html" with review=review link_needed=True %}
        {% endfor %}
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_previous or page_obj.has_next %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{% url "reviews:home_page" %}?page={{ page_obj.previous_page_number }}">←</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="{% url "reviews:home_page" %}?page={{ page_obj.next_page_number }}">→</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}
